/* CSS HEX
--black-chocolate: #131200ff;
--mantis: #78bc61ff;
--dark-khaki: #c0c781ff;
--camel: #c59b76ff;
--salmon: #e9806eff;
*/
i {
    padding: 5px;
}
html {margin: 0; height: 100%; overflow: hidden}

body{
    background-color: #333333;
    color: #d3d3d3;
    /* Full height */
    margin: 0; height: 100%; overflow: hidden;
    width: 100%;
    backdrop-filter: blur(15px);
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#pausePlay{
    display: none;
    position: fixed;
}

#playPause{
    position: fixed;
}

#tokenSection{
    display: none;
}

#annotationSelection{
    display: none;
    margin: auto;
    position: absolute;
    /*top:20%;*/
    left:35%
}

#annotationText{
    color: #fff;
    background-color: #212529;
    border-color: #212529;
}

#annotationTime{
    color: #fff;
    background-color: #212529;
    border-color: #212529;
}

#deviceSection{
    display: none;
}

.container{
    /*background-color: #333333; */
    width: 100%;
    color: #d3d3d3;
}


#trackTitle{
    font-size:3em;
    color: #d3d3d3;
}

#trackArtist{
    font-size:2em;
    color: #d3d3d3;
}

.welcomeText{
    font-size:2em;
    color: #d3d3d3;
}

#deviceSection {
    background-color: rgba(0,0,0,0.35);
    width: 100%;
    min-height: 1000px;
}

input[type="text"], textarea, select, selector{

    background-color : #d3d3d3 !important;

}

#hidden {
    display: none;
}

#buttonArea {
    font-size:36px;
}