html {
    background-color: #333333;
}

#playlists {
    width: 100%;
    margin: 10px;
}

#tokenSection{
    display: none;
}

#trackDiv {
    width: 100%;
    height: 400px;
    overflow-y: auto;
}

#albumCover {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    height:200px;
    width:200px;
    box-shadow: 0 0 20px rgb(0 0 0 / 75%);
}

#tracksTable {
    border-collapse: collapse;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    text-align: left;
    width: 100%;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
}

#tracksTable th,
#tracksTable td {
    padding: 12px 15px;
}

#tracksTable thead {
    background-color: #4a4a4a;
    color: lightgray;
}

#tracksTable tbody tr {
    border-bottom: 1px solid #dddddd;
}

#tracksTable tbody tr:hover {
    cursor: pointer;
}

#tracksTable tbody tr:nth-of-type(even) {
    background-color: lightgrey;
}

#tracksTable tbody tr:nth-of-type(odd) {
    background-color: darkgrey;
}

#tracksTable tbody tr:last-of-type {
    border-bottom: 2px solid black;
}

#tracksTable tbody tr.active-row {
    color: green;
}

#buttonArea {
    text-align: center;
    margin-top: 10px;
    color: #d3d3d3;
    margin-bottom: 25px;
}

#trackTitle{
    font-size:3em;
    color: #d3d3d3;
    text-align: center;
}

#trackArtist{
    font-size:2em;
    color: #d3d3d3;
    text-align: center;
}

#progress {
    text-align: center;
    float: left;
    color: #d3d3d3
}

#duration {
    text-align: right;
    float: right;
    color: #d3d3d3
}

#playerSection{
    display: none;
}

#hidden {
    display: none;
}

#waveformDiv{
    position: relative;
    height: 100px;
}

#canvasTop {
    position: absolute;
    width: 100%;
    height: 100%;
    mix-blend-mode: lighten;
}

#canvasBottom {
    position: absolute;
    width: 100%;
    height: 100%;
    mix-blend-mode: lighten;
}

#trackInfo {
    height: 350px;
    text-align: center;
}

#canvasBg {
    position: absolute;
    width: 100%;
    height: 100%;
}

#exitPresent {
    display: none;
}

#annotationSection {
    text-align: center;
}

#timeStamps {
    height: 20px;
    margin-bottom: 5px;
}

/*NAV BAR START*/
#menuToggle
{
    display: block;
    position: relative;
    top: 50px;
    left: 50px;

    z-index: 1;

    -webkit-user-select: none;
    user-select: none;
}

#menuToggle a
{
    text-decoration: none;
    color: #d3d3d3;

    transition: color 0.3s ease;
}

#menuToggle a:hover
{
    color: green;
}


#menuToggle input
{
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;

    cursor: pointer;

    opacity: 0; /* hide this */
    z-index: 2; /* and place it over the hamburger */

    -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span
{
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;

    background: #cdcdcd;
    border-radius: 3px;

    z-index: 1;

    transform-origin: 4px 0px;

    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
    background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
    opacity 0.55s ease;
}

#menuToggle span:first-child
{
    transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
    transform-origin: 0% 100%;
}

/*
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span
{
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #232323;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)
{
    transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu
{
    /*box-shadow: 0 0 20px rgb(0 0 0 / 75%);*/
    position: absolute;
    width: 300px;
    margin: -100px 0 0 -58px;
    padding: 50px;
    padding-top: 125px;

    /*background: lightgrey;*/
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    /* to stop flickering of text in safari */

    transform-origin: 0% 0%;
    transform: translate(-100%, 0);

    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
    padding: 10px 0;
    font-size: 22px;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul
{
    transform: none;
}
/*NAV BAR END*/