/* CSS HEX
--black-chocolate: #131200ff;
--mantis: #78bc61ff;
--dark-khaki: #c0c781ff;
--camel: #c59b76ff;
--salmon: #e9806eff;
*/
i {
    padding: 5px;
}
html {margin: 0; height: 100%;}

body{
    background-color: #333333;
    color: #d3d3d3;
    /* Full height */
    margin: 0; height: 100%;
    width: 100%;
    backdrop-filter: blur(15px);
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#tokenSection{
    display: none;
}
#trackTitleDiv{
    height: 400px;
}

#trackTitle{
    height: 100%;
}

#trackArtist{
    height: 100%;
}

#annotationSelection{
    display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
    display: none;
    justify-content: center;
    align-items: center;
    margin: auto;
    text-align: center;
    vertical-align: middle;
}

#annotationSelection div {
    padding: 20px;
}

#annotationText{
    background-color: #212529;
    border-color: #212529;
}

#annotationTime{
    background-color: #212529;
    border-color: #212529;
}

#deviceSection{
    display: none;
}

.container{
    /*background-color: #333333; */
    width: 100%;
    color: #d3d3d3;
}


#trackTitle{
    font-size:3em;
    color: #d3d3d3;
}

#trackArtist{
    font-size:2em;
    color: #d3d3d3;
}

.welcomeText{
    font-size:2em;
    color: #d3d3d3;
}

#deviceSection {
    background-color: rgba(0,0,0,0.35);
    width: 100%;
    min-height: 1000px;
}

input[type="text"], textarea, select, selector{

    background-color : #d3d3d3 !important;

}

#hidden {
    display: none;
}

#buttonArea {
    font-size:36px;
}

#canvas {
    width: 100%;
    height: 50%;
    margin-top: 20px;
}

#waveformDiv{
    height: 400px;
}