<!--playlistSelection is the div where the user selects the playlist.
annotationSelection is where the user CRUD song's annotations
playerSelection is where the user can play songs
-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spotify Annotations Player</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://sdk.scdn.co/spotify-player.js"></script>
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
</head>
<body onload="onPageLoad()">

<div class="container" id="albumImage">
    <div id="tokenSection">
    </div>
    <div id="playlistSelection">
        <div class="mb-3">
            <label for="playlists" class="form-label">Playlists</label>
            <select id="playlists" class="form-control" size="10" ondblclick="switchPlayerMode()"></select>
            <input type="button" class="btn btn-dark" onclick="logout()" value="Logout">
            <!-- <input class="btn btn-primary btn-sm mt-3" type="button" onclick="switchPlayerMode()" value="Player Mode"> -->
        </div>
    </div>
    <div id="annotationSelection">
        <div>
            <label class ="form-label">Annotation Editor</label>
        </div>
        <div>
            <label for="annotationTrack"></label>
            <select id="annotationTrack" class="form-control" onchange="refreshSelectedAnnotationSong()"></select>
        </div>
        <div>
            <label for="annotationText"></label>
            <input type="text" id="annotationText" style="background-color: #212529" name="annotationText" placeholder="Enter annotation" required>
        </div>
        <div>
            <label for="annotationTime"></label>
            <input type="text" id="annotationTime" style="background-color: #212529" name="annotationTime" placeholder="Enter time" required>
        </div>
        <div>
            <input type="button" class="btn btn-dark" onclick="storeAnnotation()" value="Update">
            <input type="button" class="btn btn-dark" onclick="removeAnnotation()" value="Delete">
        </div>
        <div>
            <label for="songAnnotations"></label>
            <!-- add default content to select box. JS will remove this because it inserts
                by removing all items first
            -->
            <select id="songAnnotations" size="5" onclick="setAnnotationFields()">
            </select>
        </div>
        <div>
            <input type="button" class="btn btn-dark" onclick="switchPlayerMode()" value="Player Mode">
            <input type="button" class="btn btn-dark" onclick="logout()" value="Logout">
        </div>
    </div>
    <div id="deviceSection" class="row">
        <div class="col">

            <div class="mb-3">
                <label for="tracks" class="form-label">Tracks</label>
                <select id="tracks" class="form-control" size="10" onclick="play()">
                </select>
            </div>

            <div class="row  mt-3" id="trackTitleDiv">
                <div class="col">
                    <!--<input type="button" class="btn btn-primary btn-sm mt-3" onclick="currentlyPlaying()" value="Refresh Currently Playing">-->
                    <div>
                        <div id="trackTitle"></div>
                        <div id="trackArtist"></div>
                    </div>
                    <div id="waveformDiv">
                        <canvas id="canvasTop"></canvas>
                        <canvas id="canvasBottom"></canvas>
                    </div>
                </div>
            </div>

            <div class="row">
                <div id="buttonArea" class="col">
                    <i class="fa fa-random" style="font-size:36px;" onclick="shuffle()"></i>
                    <i class="fa fa-backward" style="font-size:36px;" onclick="previous()"></i>
                    <i id="pausePlay" class="fa fa-pause-circle-o" style="font-size:36px;" onclick="pause()"></i>
                    <i id="playPause" class="fa fa-play-circle-o" style="font-size:36px;" onclick="play()"></i>
                    <i class="fa fa-forward" style="font-size:36px;" onclick="next()"></i>
                    <input type="button" class="btn btn-dark" onclick="switchPlaylistSelection()" value="Playlists">
                    <input type="button" class="btn btn-dark" onclick="switchAnnotationMode()" value="Annotation Editor">
                    <input type="button" class="btn btn-dark" onclick="logout()" value="Logout">
                </div>
            </div>
        </div>
    </div>
</div>

</body>

</html>