<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spotify Annotations Player</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://sdk.scdn.co/spotify-player.js"></script>
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body onload="onPageLoad()">
<!--
        PLAYLIST SELECTION
    -->
<div id="playlistSelection">
        <table id="playlistTable" class="prettyTable">
            <thead>
            <tr>
                <th><strong>Playlist Name</strong></th>
            </tr>
            </thead>
            <tbody id="playlists">
            </tbody>
        </table>
</div>
<!--
       PLAYER SELECTION
   -->
<div id="playerSection">
    <nav role="navigation">
        <div id="menuToggle">
            <input type="checkbox"/>

            <span></span>
            <span></span>
            <span></span>
            <ul id="menu">
                <a onclick="switchPlaylistSelection()"><li>Playlists</li></a>
                <a onclick="switchPresentMode()"><li>Present</li></a>
                <a onclick="switchAnnotationMode()"><li>Annotation Editor</li></a>
                <a onclick="logout()"><li>Logout</li></a>
            </ul>
        </div>
    </nav>
        <!--
        CURRENT SONG INFO
        -->
        <div id="waveformTitleInfoDiv">
        <div id="trackInfo">
            <img id="albumCover">
            <div id="trackTitle"></div>
            <div id="trackArtist"></div>
        </div>
        <!--
            PRESENT SECTION
        -->
        <div id="presentSection">
            <text id="currentAnnotation">NONE CURRENT</text><text id="nextAnnotation">NONE NEXT</text>
        </div>
        <!--
           ANNOTATION EDITOR SECTION
       -->
        <div id="annotationSection">
            <div>
                <label for="annotationText"></label>
                <input type="text" id="annotationText" style="background-color: #d3d3d3" name="annotationText"
                       placeholder="Enter annotation" required>
                <label for="annotationTime"></label>
                <input type="text" id="annotationTime" style="background-color: #d3d3d3" name="annotationTime"
                       placeholder="Enter time" required>
            </div>
            <div>
                <input type="button" onclick="storeAnnotation()" value="Update">
                <input type="button" onclick="removeAnnotation()" value="Delete">
            </div>
            <div>
                <label for="songAnnotations"></label>
                <!-- add default content to select box. JS will remove this because it inserts
                    by removing all items first
                -->
                <select id="songAnnotations" size="5" onclick="setAnnotationFields()"></select>
            </div>
        </div>
        <div id="timeStamps">
            <div id="progress"></div>
            <div id="duration"></div>
        </div>
        <div id="waveformDiv">
            <canvas id="canvasBg" onclick="handleWaveformClick()"></canvas>
            <canvas id="canvasTop" onclick="handleWaveformClick()"></canvas>
            <canvas id="canvasBottom" onclick="handleWaveformClick()"></canvas>
        </div>
    </div>

    <div id="buttonArea">
        <i class="fa fa-random" style="font-size:36px;float:left;" onclick="shuffle()"></i>
        <i class="fa fa-backward" style="font-size:36px;" onclick="previous()"></i>
        <i id="pausePlay" class="fa fa-pause-circle-o" style="font-size:36px;" onclick="pause()"></i>
        <i id="playPause" class="fa fa-play-circle-o" style="font-size:36px;" onclick="handleResume()"></i>
        <i class="fa fa-forward" style="font-size:36px;" onclick="next()"></i>
    </div>
    <div id="trackDiv">
        <table id="tracksTable" class="prettyTable">
            <thead>
                <tr>
                    <th><strong>Title</strong></th>
                    <th><strong>Artist</strong></th>
                    <th><strong>Last Played</strong></th>
                </tr>
            </thead>
            <tbody id="tracks">

            </tbody>
        </table>
    </div>
</div>

</body>

</html>