<div class="col">
  <!--<input type="button" class="btn btn-primary btn-sm mt-3" onclick="currentlyPlaying()" value="Refresh Currently Playing">-->
  <div id="top">
    <div id="trackInfo">
      <div id="albumCover"></div>
      <div id="trackTitle"></div>
      <div id="trackArtist"></div>
      <div id="progress"></div>
      <div id="duration"></div>
    </div>
    <div id="waveformDiv">
      <canvas id="canvasTop" onclick="handleWaveformClick()"></canvas>
      <canvas id="canvasBottom" onclick="handleWaveformClick()"></canvas>
      <canvas id="canvasBg" onclick="handleWaveformClick()"></canvas>
    </div>
  </div>
</div>
<div class="row" id="footer">
  <select id="tracks" class="form-control" onchange="play()">
  </select>
  <div id="buttonArea" class="col">
    <i class="fa fa-random" style="font-size:36px;" onclick="shuffle()"></i>
    <i class="fa fa-backward" style="font-size:36px;" onclick="previous()"></i>
    <i id="pausePlay" class="fa fa-pause-circle-o" style="font-size:36px;" onclick="pause()"></i>
    <i id="playPause" class="fa fa-play-circle-o" style="font-size:36px;" onclick="handleResume()"></i>
    <i class="fa fa-forward" style="font-size:36px;" onclick="next()"></i>
  </div>
  <div class="col">
    <input id ="present" type="button" class="btn btn-dark" onclick="switchPresentMode()" value="Present">
    <input id ="playlistsButton" type="button" class="btn btn-dark" onclick="switchPlaylistSelection()" value="Playlists">
    <input id="annotationButton" type="button" class="btn btn-dark" onclick="switchAnnotationMode()" value="Annotation Editor">
    <input id="logoutButton" type="button" class="btn btn-dark" onclick="logout()" value="Logout">
    <input id="exitPresent" type="button" class="btn btn-dark" onclick="switchPlayerMode()" value="Exit">
  </div>
</div>